
html, body, div, form, fieldset, legend, label, ul, ol, li, p, h1, h2, h3, h4, h5, h6, span {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
    font-weight: normal;
}

.nav {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #d3ffd4;
}

    .nav a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
    }

header {
    text-align: center;
}

#msg-container {
    display: table;
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

.form-modal {
    margin: 0 auto 20px;
    margin-top: 40px;
    padding: 15px 20px 20px;
    max-width: 300px;
    background: #E3FFE0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

    .form-modal legend {
        font-style: italic;
    }

    .form-modal input[type = "text"],
    .form-modal input[type = "password"] {
        padding: 3px 5px;
        height: auto;
        font-size: 14px;
    }

    .form-modal .text-error {
        margin-top: 20px;
    }

.error {
    color: #f00;
    font-weight: bold;
}

#messages-list li span:not(.label) {
    font-size: 13px;
    margin-left: 5px;
}

#messages-list li .label {
    width: 35px;
    text-align: center;
}

#messages-list li:hover {
    background: #ddd;
}

.row {
    margin-top: 5px;
}

.btn {
    margin: 10px 5px 0 3px;
    padding: 3px 10px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #D7E9F8;
    background-image: -moz-linear-gradient(top, #D7E9F8, #0088cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D7E9F8), to(#0088cc));
    background-image: -webkit-linear-gradient(top, #D7E9F8, #0088cc);
    background-image: -o-linear-gradient(top, #D7E9F8, #0088cc);
    background-image: linear-gradient(to bottom, #D7E9F8, #0088cc);
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D7E9F8', endColorstr='#0088cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 3px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 90%;
}

thead {
    background-color: #DFF2DD;
}

tbody tr:nth-of-type(2n+1) {
    background-color: #ECFFEA;
}

tbody tr:nth-of-type(2n) {
    background-color: #F5F5F5;
}

th {
    font-weight: bold;
    padding: 5px;
}

th, td {
    padding-left: 5px;
    border: 1px solid #e5e5e5;
}

.title-cell {
    font-weight: bold;
}

.name-cell {
    font-style: italic;
}

.date-cell {
    font-size: 0.8em;
    width: 150px;
}
